.mainContainer {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin: 10px;
    align-items: center;
}

.task {
    margin-right: auto;
    display: flex;
    gap: 10px;
    align-items: center;
}

span {
    display: inline-block;
    max-width: 150px;
    overflow-wrap: break-word;
    white-space: normal;
}

.completed {
    text-decoration: line-through;
    color: gray;
}