<div>
    <nav #navbar>
        <a routerLink="/home" routerLinkActive="active">All list</a>
        <a routerLink="/folder/starred" routerLinkActive="active">Starred</a>
        <a routerLink="/folder/personal" routerLinkActive="active">Personal</a>
        <a routerLink="/folder/work" routerLinkActive="active">Work</a>
    </nav>
    <button class="openModal" (click)="openModal()">+</button>
</div>
<div class="modal" *ngIf="isModalOpen" (click)="closeModal($event)">
    <div class="modalContent">
        <button class="close" (click)="closeModal()">X</button>
        <input #title type="text">
        <button class="submit" (click)="addFolder(title.value)">+</button>
    </div>
</div>
