@if(list) {
    <div class="list">
        <h2 class="listName">{{ list.name }}</h2>
        <button (click)="delete.emit(list.name)">Delete</button>
        <div class="taskContainer">
            <ul>
                @for (task of list.tasks; track task.id) {
                    <li>
                        <app-list-item [task]="task" 
                                        (toggle)="toggleTaskCompletion(list.name, task.id)"
                                        (delete)="deleteTask(list.name, task.id)"
                        ></app-list-item>
                    </li>
                }
            </ul>
        </div>
        <div class="inputContainer">
            <input #taskInput type="text" placeholder="New Task">
            <button (click)="addTask(list.name, taskInput.value)">Add Task</button>
        </div>
    </div>
}
