@if(list) {
    <div class="list">
        <h2 class="listName">{{ list.name }}</h2>
        <div class="taskContainer">
            <ul>
                @for (task of list.tasks; track task.id) {
                    <li>
                        <app-list-item [task]="task"></app-list-item>
                    </li>
                }
            </ul>
        </div>
        <div class="inputContainer">
            <input #taskInput type="text" placeholder="New Task">
            <button>Add Task</button>
        </div>
    </div>
}
