@if(list) {
    <div class="list">
        <h2>{{ list.name }}</h2>
        <div class="taskContainer">
            <ul>
                @for (task of list.tasks; track task.id) {
                    <li>
                        <app-list-item [task]="task" (delete)="deleteTask(task.id)" (toggle)="toggleTaskCompletion(task.id)"></app-list-item>
                    </li>
                }
            </ul>
        </div>
        <div class="inputContainer">
            <input #taskInput type="text" placeholder="New Task">
            <button (click)="addTask(taskInput.value)">Add Task</button>
        </div>
    </div>
}
